{% extends 'base.html.twig' %}

{% block title %}Mi tienda{% endblock %}

{% block body %}
<h1>Mi tienda</h1>

<div style="display: flex; gap: 20px;">
    
    <div>
        <img src="https://via.placeholder.com/150">
        <h3>Producto 1</h3>
        <p>$100</p>
    </div>

    <div>
        <img src="https://via.placeholder.com/150">
        <h3>Producto 2</h3>
        <p>$200</p>
    
    </div>

</div>

{% endblock %}